.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px soild grey;
}

/*
  display: lnline  >> a, span, img, button
  display: block >> div, p, h1~6
*/
