.container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 0 100px 0 100px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid grey;
}

.input-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.to-do-list {
	border: 2px solid grey;
}

.done-list {
	border: 2px solid grey;
}

/* display: lnline  >> a, span, img, button
  display: block >> div, p, h1~6 */
